/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-menu {
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
  }
  
  .navbar-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
  
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    padding: 8px;
    margin-right: 20px;
  }

  .navbar-logo {
    height: 75px;
    width: 100px;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .navbar {
      align-items: center;
    }
  
    .navbar-menu {
      display: block;
    }
  
    .navbar-links {
      display: none;
      position: absolute;
      top: 139px;
      background-color: #333;
      left: 0;
      justify-content: space-around;
      width: 100%;
    }
  
    .navbar-links.open {
      display: flex;
    }
  
    .navbar-links a {
      margin: 8px 0;
      margin-right: 0;
    }
  
    .bar:first-child.open {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .bar:nth-child(2).open {
      opacity: 0;
    }
  
    .bar:last-child.open {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  