/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navbar-brand {
    width: 110px;
    height: 75px;
    float: left;
  }
  
  .navbar-menu {
    cursor: pointer;
    font-size: 1.5rem;
  }

  .nav-button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
  }
  
  .navbar-links a {
    color: rgb(202, 109, 109);
    text-decoration: none;
    padding: 8px;
  }
  
  .navbar-links.open {
    display: flex;
    flex-direction: column;
  }

  .button-link {
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
    color: #0057b0
  }

  .button-link:hover {
    cursor: pointer;
  }

  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .navbar-links {
      top: 40px;
      right: 10px;
    }
  }